.header {

    padding: 1rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(62, 62, 182, 0.2) 0px 7px 29px 0px;
    background-color: white;
    position: relative;
    z-index: 1;


    &_logo {

        font-size: 2rem;


    }

    &_menu {
        display: flex;
        gap: 3rem;
        text-shadow: 10px 10px 25px rgba(182, 24, 156, 0.607),
            -10px 10px 25px rgba(132, 23, 182, 0.548),
            -10px -10px 25px rgba(114, 26, 138, 0.579),
            10px -10px 25px rgba(175, 16, 228, 0.43);

    }


    &_right {

        display: flex;
        gap: 2rem;
        align-items: center;

        &_basket {

            font-size: 2rem;
            color: rgb(248, 167, 46);
            cursor: pointer;
        }

        &_avatar {

            width: 2.5rem;
            height: 2.5rem;
            border-radius: 50%;

        }
    }
}

.cart {
    width: 20rem;
    height: 20rem;
    background-color: rgba(192, 151, 232, 0.841);
    position: fixed;
    top: -30rem;
    transition: 1s;
    right: 1rem;
    padding: 1rem;
    border-radius: 10px;
    gap: 1rem;
    box-shadow: rgba(145, 74, 169, 0.768) 0px 50px 100px -20px,
        rgba(144, 13, 107, 0.619) 0px 30px 60px -30px;

    img {

        width: 3rem;
        height: 3rem;
        margin: 0.3rem;
        border-radius: 10px;

    }


    &_btn {

        position: absolute;
        bottom: 1rem;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 0.3rem 0.5rem;
        border: none;
        background-color: rgba(47, 48, 46, 0.79);
        color: aliceblue;
        font-size: 1.2rem;
        border-radius: 5px;
        cursor: pointer;


    }

}

.active {
    position: absolute;
    top: 8rem;

}